.container {
  max-width: 1000px !important;
  margin-bottom: 150px;
}
.text-color{
  color: hsl(14, 4%, 85%) !important;
}
.nav-bg{
  background: linear-gradient(
    136deg,
    hsl(104, 28%, 35%) 0%,
    hsl(58, 28%, 35%) 100%
  );
}
.header-btn {
  border: 2px solid !important;
  background-color: transparent !important;
  border-radius: 3rem !important;
}
.home-title {
  font-size: 64px;
}
.trick-item {
  background: linear-gradient(
    136deg,
    hsl(104, 28%, 35%) 0%,
    hsl(58, 28%, 35%) 100%
  );
  border-radius: 16px;
  position: relative;
}
.discount-section {
  background: linear-gradient(
    136deg,
    hsl(104, 28%, 35%) 0%,
    hsl(58, 28%, 35%) 100%
  );
  border-radius: 50px;
  padding-block: 48px !important;
}
.new-badge {
  position: absolute;
  top: 5%;
  left: 5%;
} 
.newsletter-form{
  background: linear-gradient(
    136deg,
    hsl(104, 28%, 35%) 0%,
    hsl(58, 28%, 35%) 100%
  );
  border-radius: 15px;
  width: 50%;
  transform: translate(50%);
}
.newsletter-input{
background: none;
border: none;
width: 70%;
outline: none;
} 
.newsletter-input::placeholder{
  color: hsl(14, 4%, 85%) !important;
}  
.show{
  text-align: center !important;
}
.show .header-btn{
  margin-right: 50px !important;
}
.footer-container{
  position: relative;
}
.footer-img1{
  position: absolute;
  top: -110px;
  right: -100px;
}
.footer-img2{
  position: absolute;
  top: -50px;
  left: -100px;
}
.footer-copyright{
  position: absolute;
  bottom: -120px;
  left: 38%;
}


@media screen and (max-width:500px){
  .home-title{
      font-size: 40px;
  }
}